@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*
  The default cursor has changed to `default` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an cursor
  utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.timer-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 6px;
    z-index: 100;
}

.timer-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform-origin: right;
}

#timer-bar {
    transform: translateX(-100%);
}

@keyframes countdown {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

.animate-countdown {
    animation: countdown 60s linear forwards;
    will-change: transform;
}
