# PhpStorm
.idea

# General files
*~
*.DS_STORE

# Dependency managers
node_modules/
npm-debug.log

# Build files
public/dist/

# Local config
.options.json

# Project files
.github
.editorconfig
.gitignore
docker-compose.yml
Dockerfile
README.md
