@font-face {
  font-family: 'text-security-disc';
  src: url('/fonts/text-security-disc.eot');
  src: url('/fonts/text-security-disc.eot?#iefix') format('embedded-opentype'),
  url('/fonts/text-security-disc.woff') format('woff'),
  url('/fonts/text-security-disc.ttf') format('truetype'),
  url('/fonts/text-security-disc.svg#text-security') format('svg');
}
